pwaf-core/build/build_and_deploy_dev.bat
pwaf-core/build/deploy_local.bat
pwaf-core/build/build_and_deploy_local.bat
pwaf-core/demo_build/build.sql

pwaf-core/demo_build/deploy_pwaf-0.0.1.sh

pwaf-core/demo_build/pwaf-0.0.1.sql
